:root {
  --font600: 600;
  --fontSize14px: 14px;
}

.App {
  position: relative;
  z-index: 1;
}

.AnchorBlackColor {
  color: #000000;
}

.alignStretch .alignStretch {
  align-items: stretch;
}

.alignSelfFlexStart {
  align-self: flex-start;
}

.alignSelfFlexEnd {
  align-self: flex-end;
}

.alignSelfCenter {
  align-self: center;
}

.justifySelfStretch {
  justify-self: stretch;
}

.alignFlexStart .alignFlexStart {
  align-items: flex-start;
}

.capitalize {
  text-transform: capitalize;
}
.btn {
  width: 2.5rem;
  height: 2.5rem;
}

.btnItemFlexTransparent {
  background-color: transparent;
  border-width: 0rem;
}
/* Works in chrome since version 73 */
/* not yet supported in other browsers */
/* .grid, to-do-app-imp::part(grid) {
  display: grid;
} */

.grid, to-do-app-imp::part(grid) {
  display: grid;
}

.col-1 {
  grid-template-columns: 1fr;
}

.col-2 {
  grid-template-columns: 2fr;
}

.col-auto {
  grid-template-columns: auto;
}

.cursor-pointer {
  cursor: pointer;
}

.row-auto {
  grid-template-rows: auto;
}

label.checkbox-label {
  width: 1.2rem;
  height: 1.2rem;
  position: relative;
  z-index: 1;
}

label.checkbox-label input[type="checkbox"] {
  position: absolute;
  width: 0rem;
  height: 0rem;
  cursor: pointer;
}

label.checkbox-label span.checkmark {
  position: absolute;
  transform: translate(0rem, 0rem);
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 0.2rem;
  border: 1px solid #676767;
  z-index: 1;
}

label.checkbox-label span.checkmark::after {
  position: absolute;
  content: "";
  transform: translate(0.6rem, 0.6rem);
  width: 0rem;
  height: 0rem;
  border-radius: 0.2rem;
  border: solid #676767;
  border-width: 0rem 0.2rem 0.2rem 0rem;
  transform: rotate(0deg) scale(0);
  opacity: 1;
}

label.checkbox-label input:checked ~ span.checkmark {
  background-color: #cb2c90;
  transform: rotate(0deg) scale(1);
  opacity: 1;
  border: 2px solid #cb2c90;
}

label.checkbox-label input:checked ~ span.checkmark:hover {
  background-color: #000000;
  border: 2px solid #000000;
}

label.checkbox-label input[type="checkbox"]:focus-visible {
  outline: 2px auto #cb2c90;
}

label.checkbox-label input:checked ~ span.checkmark::after {
  background-color: #ffffff;
  transform: rotate(45deg) scale(1);
  left: 0.25rem;
  top: -2px;
  width: 6px;
  height: 12px;
  opacity: 1;
  border: solid #ffffff;
  border-width: 0px 2px 2px 0px;
  background-color: transparent;
  border-radius: 0rem;
}

label.radio-label {
  width: 1.2rem;
  height: 1.2rem;
  position: relative;
  z-index: 1;
}

label.radio-label input.radio-input {
  position: absolute;
  transform: translate(0.115rem, 0.15rem);
  width: 0rem;
  height: 0rem;
}

label.radio-label span.outlined {
  position: absolute;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  border: 1px solid #676767;
}

label.radio-label span.radio-button {
  position: absolute;
  transform: translate(0.19rem, 0.19rem);
  border-radius: 50%;
  width: 0.8rem;
  height: 0.8rem;
  background-color: transparent;
}

label.radio-label input.radio-input:checked ~ span.outlined {
  border: 2px solid #cb2c90;
  background-color: #cb2c90;
}

label.radio-label input.radio-input:checked ~ span.radio-button {
  border: 2px solid #ffffff;
}

label.radio-label input.radio-input:checked ~ span.outlined:focus-visible {
  outline: 1px solid #cb2c90;
}

label.radio-label input.radio-input:checked ~ span.outlined:hover {
  background-color: #000000;
  border: 2px solid #000000;
}

.customLineHeight {
  line-height: 2rem;
}

.discless-list {
  list-style-type: none;
}

.justifySelfFlexStart {
  justify-self: flex-start;
}

.fillViewPort {
  height: 90vh;
}

.flexColumn {
  flex-direction: column;
}

.flexArranged {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexEvenly {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.font-w {
  font-weight: var(--font600);
}

.font-400 {
  font-weight: 400;
}

.font-w-bold {
  font-weight: bold;
}

.font-s {
  font-size: var(--fontSize14px);
}
.font-s10 {
  font-size: 10px;
}

.font-s12 {
  font-size: 12px;
}

.heightAuto {
  height: auto;
}

.widthAuto {
  width: auto;
}

.mg-l05-r1dot5 {
  margin-left: 0.5rem;
  margin-right: 1.5rem;
}

.mg-l1 {
  margin-left: 1rem;
}

.mg-b1 {
  margin-bottom: 1rem;
}

.mg-b4 {
  margin-bottom: 4rem;
}

.mg-t1 {
  margin-top: 1rem;
}

.mg-b1dot5 {
  margin-bottom: 1.5rem;
}

.mg-left-halfAWidth {
  margin-left: 25%;
}

.mg-pad0 {
  margin: 0em 0em;
  padding: 0em 0em;
}

.no-mgBlockStart-mgBlockEnd {
  margin-block-start: 0rem;
  margin-block-end: 0rem;
}

.pad-inline-start-none {
  padding-inline-start: 0.5rem;
}

.pad-inline-start-0px {
  padding-inline-start: 0px;
}

.pad-top1rem {
  padding-top: 1rem;
}

.pad-bott1rem {
  padding-bottom: 1rem;
}

.pad-top0dot5 {
  padding-top: 0.5rem;
}

.pad-b0dot5 {
  padding-bottom: 0.5rem;
}

.pad-l2 {
  padding-left: 2rem;
}

.pad-r2 {
  padding-right: 2rem;
}

.p-rel {
  position: relative;
}

.p-abs {
  position: absolute;
}

.p-fx {
  position: fixed;
}

.flexStandard {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flexEnd {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.flexStart {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.fullFlexWidth {
  flex-basis: 100%;
}

.flexBasis80 {
  flex-basis:80%;
}

.flexBasis70 {
  flex-basis:70%;
}

.flexBasis60 {
  flex-basis: 60%;
}

.flexBasis50 {
  flex-basis: 50%;
}

.flexBasis20 {
  flex-basis: 20%;
}

.flexBasis10 {
  flex-basis: 10%;
}
.fullHeight {
  height: 100%;
}

.fullWidth {
  width: 100%;
}

.f-s18px {
  font-size: 18px;
}

.f-s05 {
  font-size: 0.5rem;
}

.f-w700 {
  font-weight: 700;
}

.tailored-social-logo {
  width: 1.1rem;
  height: 1.2rem;
}

.textDecorationNone {
  text-decoration: none;
  color: #000000;
}

.text-align-st {
  text-align: start;
}

.translateX-1dot5 {
  transform: translateX(-1.5rem);
}

.unmountLinks {
  display: block;
}

.social-websites {
  width: 20%;
  margin-right: 10%;
  margin-bottom: 2rem;
}

@media screen and (max-width: 800px) {
  .social-websites.social-websites {
    width: 35%;
    margin-bottom: 2rem;
  }
  .social-websites-wrapper {
    justify-content: flex-start;
    margin-left: 10%;
  }

  .customized.customized {
    color: #000000;
    font-weight: 550;
    line-height: 2rem;
    justify-content: center;
  }

  .customized:hover, .customized:active, .customized:visited, .customized:focus {
    text-decoration: underline;
  }

  .unmountLinks.unmountLinks {
    display: none;
  }
  
}

.shopOurBrandsWrapper {
  height: 10rem;
}

.shopOurBrands {
  width: 10rem;
}

.SVGAsset1dot6 {
  width: 1.6rem;
  height: 1.6rem;
}

.SVGAsset1dot2 {
  width: 1.2rem;
  height: 1.2rem;
}

.standardCursor {
  cursor: default;
}

.stretch {
  align-items: stretch;
}

.rounded {
  border-radius: 50%;
}

.v-al_05 {
  vertical-align: 0.5rem;
}

.writer {
  border-top: #676767 0.7px solid;
  width: 90%;
  margin-left: 5%;
  color: #676767;
}

@media screen and (max-width: 800px) {
  .writer.writer {
    border-top: #676767 0.7px solid;
    width: 90%;
    margin-left: 5%;
    color: #676767;
    flex-direction: column;
  }
  .writer-customize {
    text-align: center;
  }
}
