.HeaderRightNavBar {
    height: 2.8rem;
    width: 100%;
}

.HeaderRightNavBar .Item  {
    border-radius: 50%;
    height: 2.8rem;
    flex-basis: 2.8rem;
}
.HeaderRightNavBar .device-based {
    display: inline-block;
}

@media only screen and (max-width: 900px) {
    .HeaderRightNavBar .device-based.device-based {
        display: none;
    }
}

@media screen and (max-width: 2500px) {
    .HeaderRightNavBar .GroceryNav .GroceryNav {
        flex-basis: 1.5rem;
        height: 1.5rem;
    }
}