.NavigationBar {
    height: 3rem;
    width: 100%;
    background-color: #041e42;
}

.ForLeftNavBar {
    flex-basis: 22%;
    height: auto;
}

.ForRightNavBar {
    margin-right: 1rem;
    height: auto;
    flex-basis: 10rem;
}

@media screen and (max-width: 2000px ) {
    .ForRightNavBar.ForRightNavBar {
        flex-basis: 16rem;
    }
}

@media screen and (max-width: 900px ) {
    .ForRightNavBar.ForRightNavBar {
        flex-basis: 10rem;
    }
}